@(start: String, end: String, errors: String)

@main("Total Consumption Report") {

    @if(!errors.isEmpty()) {
        <div class="alert-message error">
            <p><strong>Oops</strong>Please fix all errors</p>
            <p>@errors</p>
        </div>
    }
    
    <form method="GET" action="/report/totalConsumption">
		<fieldset>
			<legend>Options</legend>
			<table>
				<tr>
					<td><span>After</span></td>
					<td><input type="text" name="start" value="@start" /></td>
				</tr>
				<tr>
					<td><span>Before</span></td>
					<td><input type="text" name="end" value="@end" /></td>
				</tr>
			</table>
        </fieldset>
        
        <div class="actions">
            <input type="submit" class="btn primary" value="Generate">
        </div>
    </form>
}